<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.mapper.TUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.woniu.domain.TUser">
        <result column="u_id" property="uId" />
        <result column="u_phone" property="uPhone" />
        <result column="u_password" property="uPassword" />
        <result column="u_qq" property="uQq" />
        <result column="u_e_mail" property="uEMail" />
        <result column="u_name" property="uName" />
        <result column="u_head_portrait" property="uHeadPortrait" />
        <result column="u_openid" property="uOpenid" />
        <result column="u_level" property="uLevel" />
        <result column="u_money" property="uMoney" />
        <result column="u_show_status" property="uShowStatus" />
        <result column="u_status" property="uStatus" />
        <result column="u_address" property="uAddress" />
        <result column="u_attention_coach" property="uAttentionCoach" />
        <result column="u_integral" property="uIntegral" />
        <result column="u_truename" property="uTruename" />
        <result column="u_idcard" property="uIdcard" />
        <result column="u_attention_user" property="uAttentionUser" />
        <result column="u_attention_venues" property="uAttentionVenues" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        u_id, u_phone, u_password, u_qq, u_e_mail, u_name, u_head_portrait, u_openid, u_level, u_money, u_show_status, u_status, u_address, u_attention_coach, u_integral, u_truename, u_idcard, u_attention_user, u_attention_venues
    </sql>

</mapper>
